In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
import pickle

print("Libraries imported successfully!")

Libraries imported successfully!

In [7]:
import pandas as pd

df = pd.read_csv("final_workforce_3month_enhanced.csv")
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4550 entries, 0 to 4549
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Employee_ID           4550 non-null   object
 1   Date                  4550 non-null   object
 2   Claimed_Hours         4550 non-null   float64
 3   Active_Hours          4550 non-null   float64
 4   Claimed_Minus_Active  4550 non-null   float64
 5   Utilization_Rate      4550 non-null   float64
 6   Commits               4550 non-null   int64
 7   PRs_Opened            4550 non-null   int64
 8   Tasks_Done            4550 non-null   int64
 9   Performance_Score     4550 non-null   float64
 10  Meetings_Hours        4550 non-null   float64
 11  Recent_HR_Flag        4550 non-null   int64
 12  Project_Type          4550 non-null   object
 13  Role_Level            4550 non-null   object
 14  Team_ID               4550 non-null   object
 15  Productivity_Level    4550 non-null   object
dtypes: float64(6), int64(4), object(6)
memory usage: 568.9+ KB

,Claimed_Hours,Active_Hours,Claimed_Minus_Active,Utilization_Rate,Commits,PRs_Opened,Tasks_Done,Performance_Score,Meetings_Hours,Recent_HR_Flag
count,4550.00000,4550.000000,4550.000000,4550.000000,4550.000000,4550.000000,4550.000000,4550.000000,4550.000000,4550.000000
mean,8.00431,7.522543,0.481771,93.838503,4.455824,1.493187,5.497802,11.587580,2.004534,0.092747
std,1.20726,1.267632,0.393739,5.239207,2.868351,1.120689,2.287890,1.931463,0.863853,0.290110
min,3.77000,3.200000,-0.870000,70.030000,0.000000,0.000000,2.000000,5.110000,0.500000,0.000000
25%,7.21000,6.700000,0.210000,90.552500,2.000000,0.000000,3.000000,10.222500,1.262500,0.000000
50%,8.00000,7.530000,0.490000,93.980000,4.000000,2.000000,5.000000,11.590000,2.010000,0.000000
75%,8.79750,8.360000,0.750000,97.280000,7.000000,2.000000,7.000000,12.910000,2.740000,0.000000
max,12.45000,11.930000,1.770000,115.470000,9.000000,3.000000,9.000000,18.610000,3.500000,1.000000

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Encode only non-numeric columns
for col in ["Project_Type", "Role_Level", "Team_ID", "Productivity_Level"]:
    df[col] = le.fit_transform(df[col])

print("Categorical columns encoded successfully!")
df.head()

Categorical columns encoded successfully!

,Employee_ID,Date,Claimed_Hours,Active_Hours,Claimed_Minus_Active,Utilization_Rate,Commits,PRs_Opened,Tasks_Done,Performance_Score,Meetings_Hours,Recent_HR_Flag,Project_Type,Role_Level,Team_ID,Productivity_Level
0,E001,2024-08-01,8.18,7.47,0.71,91.29,3,2,6,11.45,2.12,0,0,0,1,0
1,E001,2024-08-02,8.66,8.09,0.57,93.37,8,1,6,13.48,1.41,0,0,0,1,0
2,E001,2024-08-03,8.35,8.10,0.25,97.05,7,0,7,13.62,0.56,0,0,0,1,0
3,E001,2024-08-04,7.06,6.52,0.54,92.35,4,0,9,12.13,0.59,0,0,0,1,0
4,E001,2024-08-05,8.12,7.36,0.76,90.65,1,0,6,10.34,2.14,0,0,0,1,0

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

# Split data into features (X) and target (y)
X = df.drop(columns=["Productivity_Level", "Date", "Employee_ID"])
y = df["Productivity_Level"]

# Split into train and test (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predict on test data
y_pred = model.predict(X_test)

# Evaluate performance
print("Model trained successfully!")
print("Accuracy:", round(accuracy_score(y_test, y_pred), 3))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Model trained successfully!
Accuracy: 1.0

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       910

    accuracy                           1.00       910
   macro avg       1.00      1.00      1.00       910
weighted avg       1.00      1.00      1.00       910

In [10]:
from sklearn.model_selection import cross_val_score
import numpy as np

# Use 5-fold cross validation
cv_scores = cross_val_score(model, X, y, cv=5)

print("Cross Validation Scores:", cv_scores)
print("Average Accuracy:", round(np.mean(cv_scores), 3))

Cross Validation Scores: [1. 1. 1. 1. 1.]
Average Accuracy: 1.0

In [11]:
import numpy as np

# üßç New employee's data sample
new_employee = pd.DataFrame([{
    "Claimed_Hours": 8.2,
    "Active_Hours": 7.5,
    "Claimed_Minus_Active": 0.7,
    "Utilization_Rate": 92.0,
    "Commits": 5,
    "PRs_Opened": 2,
    "Tasks_Done": 6,
    "Performance_Score": 12.0,
    "Meetings_Hours": 1.5,
    "Recent_HR_Flag": 0,
    "Project_Type": 0,  # Frontend (encoded)
    "Role_Level": 1,    # Mid-level (encoded)
    "Team_ID": 2        # Example team
}])

# Predict productivity
prediction = model.predict(new_employee)[0]
print("Predicted Productivity Level:", prediction)

Predicted Productivity Level: 0

In [12]:

import joblib

# Save the trained model
joblib.dump(model, "employee_productivity_model.pkl")
print("Model saved successfully!")

Model saved successfully!

# Flask API Implementation

The Flask API implementation has been moved to `app.py` for better code organization and maintainability. 

To run the API:
1. Make sure all requirements are installed
2. Run `python app.py` from the command line
3. The API will be available at `http://127.0.0.1:5000`

API Endpoints:
- GET `/`: Home endpoint that confirms API is running
- POST `/predict`: Endpoint for making predictions